<!--
File Name contact.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container center">
    <h1>Contact Us</h1>
    <h3>We value you time and thank you for you interest ion our organization.
         If you would like to learn more or want to get in touch with a representative 
         leave your information below. We will get back to you as soon as we can.</h3>
</div>