<!--
File Name form.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container">
<form id="contactForm">
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control contactInput" id="firstName" aria-describedby="First Name" placeholder="John">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control contactInput" id="lastName" aria-describedby="Last Name" placeholder="Doe">
  </div>
  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input type="text" class="form-control contactInput" id="phoneNumber" aria-describedby="phoneNumber" placeholder="(416) 444-4444">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail address</label>
    <input type="email" class="form-control contactInput" id="email" aria-describedby="email" placeholder="John@email.com">
  </div>
  <div class="mb-3">
  <label for="message" class="form-label">Your Message</label>
  <input type="text" class="form-control contactInput" id="message" rows="3" placeholder="Message Goes Here">
</div>
  <button type="submit" class="btn btn-primary" id="submitForm">Contact Me</button>
  <button type="clear" class="btn btn-primary" id="clear">Restart</button>
</form>
</div>