<!--
File Name home.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container centerIMG " >
    <h1 class="">Welcome To Break Through Games</h1>
    <a href="/about">
    <img src="/Assets/images/logo.png" class=" position-relative centerIMG1" alt="Logo">
    </a>
    <h4 class="center">Mission Statement</h4>
    <p class="paragraphindent"> Our mission is to make games that are not only fun but educational. 
        As the gaming media matures so does its audience. Our company strive to make games for kids, 
        young adults, adults and seniors. Our company’s main objectives is to make games fun, everything else is secondary. 
        While having fun with games most people don’t realize that they are subconsciously practising a skills and are introduced 
        to subjects that may interest them. We want to take advantage of this fact and make learning fun, from infants learning shapes 
        and math to seniors just improving brain functionality.  </p>
</div>