<!--
File Name about.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container center">
    <h1 class="center">About Me</h1>
    <div></div>
        <img src="/Assets/images/RecentPicture.jpg" class="rightimg" alt="...">
        <p>Name: Jerome Ching <br>
            Student ID: 300817930 <br></p>
        <p class="paragraphindent"> My name is Jerome Ching and I am currently a student in Centennial Collage studying Game Programming.
             I obtained a Bachelor of Science at the University of Toronto with a double major in Biochemistry and 
             Environmental Science. I also obtained a Diploma in Biotech at Centennial College. I’ve been an avid gamer 
             ever since I could remember. Learning and playing video games are my passion and I wish to combine them and 
             make fun and perhaps educational games. While this goal might be contradictory, I believe it is not. When we 
             play video games we are actually leaning new skill or practising and improving on a per-existing ones. I believe 
             the game should be fun first and then educational second. </p>
            <a href="/Assets/Resume.pdf">Resume</a>
            
        
</div>