<!--
File Name login.ejs
By: Jerome Ching
Student# 300817930
Date: June 18, 2021
-->
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
    <br><br><br><br><br>
          <div class="login border border-dark marginAuto" id="contentArea">
              <h1 class="display-4 text-center">Login</h1>

              <!-- message area -->
              <% if(messages.length > 0) { %>
              <div id="messageArea" class="alert alert-danger">
                <%= messages %>
              </div>
              <% } %>
              <div class="">
              <form id="loginForm" novalidate method="POST">
                <div class="input-group mb-3">
            <span class="input-group-text" id="username"><i class="fa fa-user"></i>  User Name</span>
            <input type="text" class="form-control" placeholder="Enter your username" aria-label="FirstName" 
            aria-describedby="item usename" id="username" name="username" value="" required>
        </div>
                <div class="input-group mb-3">
            <span class="input-group-text" id="username"><i class="fa fa-lock"></i>  Password</span>
            <input type="password" class="form-control" placeholder="Enter your Password" aria-label="FirstName" 
            aria-describedby="item usename" id="password" name="password" value="" required>
        </div>
                                                       
                <div class="text-end mt-2">
                  <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
        <a href="/contact-list" class="btn btn-warning"><i class="fas fa-window-close fa-lg"></i>Cancel</a>
                </div>
              </form>
             </div>
          </div>
          <p class="text-center text-muted small">
            Don't have an account? 
            <a href="/register">Register Here!</a>
          </p>
    </div>
</div>