<!--
File Name projects.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container">
    <h1 class="center">Our Projects</h1>
    <div class="center">
        <a href="/Assets/images/time.png" aria>
            <img src="/Assets/images/time.png" alt="" class="rightFloat">
        </a>
        
        <h3>Time Is Precious</h3>
        <p class="paragraphindent">In this game, our protagonist travels back in time to change to past in order to save a loved one.
            Then our hero then travels forward in time to correct thing in the timeline and to get back to their own time. 
        </p>
        <h5>My role </h5>
        <ul>
            <li>Lead game designer</li>
            <li>Support programmer</li>
        </ul>
        <p>Our group got an A+</p>
    </div>
    <hr>
    <div class="center">
    <a href="/Assets/images/escape.png">
        <img src="/Assets/images/escape.png" alt="" class="leftFloat">
    </a>
        
        <h3>Escape From Cold Ridge Mountain</h3>
        <p class="paragraphindent">This is a game where you have to escape prison. You have to evade guards dodge poop slip by other inmates and disarm traps.
             Ever wonder what happens when you try to pick up a soap in a prison shower? Well lets hope you never have to experience that. </p>
        <h5>My role </h5>
        <ul>
            <li>Lead game designer</li>
            <li>Lead programmer</li>
            <li>Lead artist</li>

        </ul>
        <p>Our group got an A+</p>
    </div>
    <hr>
    <div class="center">
        <a href="/Assets/images/cave.png">
            <img src="/Assets/images/cave.png" alt="" class="rightFloat">
        </a>
        <h3>Cave And Space Ships</h3>
        <p>This is a game where you have to escape a cave and get back to your space ship so you can escape Earth.</p>
        <h6>My role </h6>
        <ul>
            <li>Sole Game Designer</li>
            <li>Sole Game programmer</li>
        </ul>
        <p>Obtained an A+</p>
    </div>
    <br><br><br><br><br>
</div>