<!--
File Name Services.ejs
By: Jerome Ching
Student# 300817930
Date: June 4, 2021
-->
<div class="container">
    <h1 class="center">Our Services</h1>
    <hr>
    <div class="center blockDiv">
        <img src="/Assets/images/microbiology.png" alt="" class="rightFloat">
        <h3>Microbiology Tests</h3>
        <p>I can conduct a variety of microbiological assays</p>
        <h5>My Microbiological Services </h5>
        <ul>
            <li>Listeria test</li>
            <li>e.coli test</li>
            <li>Strep test</li>
            <li>Bacteria load estimation</li>
            <li>Gram positivity test</li>
            <li>Aerosol bacterial load count</li>
        </ul>
        <p>Strict aseptic techniques are key to an accurate result.</p>
    </div>
    <hr>
    <div class="center blockDiv">
        <img src="/Assets/images/titration.png" alt="" class="rightFloat">
        <h3>Analytical Chemistry Tests</h3>
        <p>I can conduct a variety of analytical chemistry test</p>
        <h5>My Analytical Chemistry Services </h5>
        <ul>
            <li>Lead test</li>
            <li>Asbestos test</li>
            <li>Heavy metal tests</li>
            <li>Quantification of solute in solvent</li>
            <li>Distillation of Alcohols</li>
            <li>PCR test</li>
            <li>IR test</li>
            <li>Soil organic material quantification</li>
            <li>Water contamination analysis</li>
        </ul>
        <p>Guarantees at least a 95% accuracy.</p>
    </div>
    <hr>
    <div class="center blockDiv">
        <img src="/Assets/images/escpaetitle1.png" alt="" class="rightFloat">
        <h3>Game and Simulation Services</h3>
        <p>This service </p>
        <h5>My Game and Simulation Services</h5>
        <ul>
            <li>Build simulation games</li>
            <li>Build puzzle games</li>
            <li>Build 2D platformers</li>
            <li>Build 3D platformers</li>
            
        </ul>
        <p>More to come as I learn from school.</p>
    </div>
    <br><br><br><br><br><br>
</div>